@import "tailwindcss";
body {
  color: white;
}
.container {
  width: 1280px;
  margin: 0 auto;
  height: 100vh;
}
::-webkit-scrollbar {
  display: none;
}
.main_button {
  @apply bg-blue-500 text-lg rounded-2xl border border-transparent 
 py-3 px-5 font-medium cursor-pointer hover:bg-black
  hover:text-white transition-all duration-300 hover:border-white;
}
